@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #00001c;
  font-family: "Barlow", sans-serif;
}
/* f4f6f7 */
.custom-bg {
  position: relative;
  overflow: hidden;
}

.wave-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 20%;
  background: rgba(114, 182, 208, 0.3);
  border-radius: 50%;
  animation: wave 2s ease-in-out infinite;
  transform: translate(-50%, -50%);
}

@keyframes wave {
  0% {
    width: 20%;
    height: 20%;
    background: rgba(116, 186, 214, 0.3);
  }
  50% {
    width: 110%;
    height: 110%;
    background: rgba(138, 217, 248, 0.05);
  }
  100% {
    width: 200%;
    height: 200%;
    background: rgba(138, 217, 248, 0);
  }
}

.header-animation {
  opacity: 0;
  transform: rotatey(40deg);
  animation: fadeInRotate 1s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes fadeInRotate {
  0% {
    opacity: 0;
    transform: rotateY(40deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

